.terms-wrapper{
    background-color: #F5FCFA;
    min-height: 100vh;
}

.terms-heading{
    padding-top: 60px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.privacy-content{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align:left;
    white-space: pre-line;

}

.contact-company-name{
    font-weight: bold;
    font-size: larger;
}

.contact-phone-icon{
    height: 20px;
    margin-right: 6px;
}

.contact-email-icon{
    height: 20px;
    margin-right: 6px;
}

.contact-block {
    margin-bottom: 10px;
}

.contact-address-icon{
    height: 20px;
    margin-right: 6px;
}

